<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Template &gt; {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="fonts/opensans.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/opensansbold.woff2"as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/opensanslight.woff2" as="font" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="#">
    <link rel="icon" href="#" type="image/svg+xml">
    <link rel="apple-touch-icon" href="#">
    <link rel="manifest" href="favicons.webmanifest">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>

    </footer>
    <script src="js/script.js">
    </script>
  </body>
</html>
